h2 {
	margin-bottom: 20px;
}

.score {
	font-size: 13px;
	font-weight: normal;
	background: linear-gradient(#29BA22, #198713);
	padding: 6px 10px;
	margin-right: 10px;
	border-radius: 10px;
	color: #fff;
}

.cup-winner-bet-init {
	margin-bottom: 20px;
}