.loading {
	font-size: 50px;
	padding: 10px;
}

h2 {
	vertical-align: middle;

	.save-bets-btn-init {
		margin-right: 15px;
		font-size: 15px;
	}
}

.matches-table {
	td, th {
		padding: 10px;
		text-align: center;
		vertical-align: middle;
	}

	td {
		border-top: 1px solid #aaa;

		.bet-field {
			width: 40px;
		}
	}

	.home-team-icon-init {
		padding-left: 0px;
	}

	.away-team-icon-init {
		padding-right: 0px;
	}

	.datetime {
		direction: ltr;
	}

	.team-icon {
		width: 25px;
		height: 25px;
		vertical-align: middle;
	}
}

.top-error-message {
	margin-bottom: 10px;
}