<div class="loading" *ngIf="loading">
	<i class="fa fa-spinner fa-spin"></i>
</div>
<div class="content" *ngIf="!loading">
	<h2>
		הניחושים של {{matchesBetsService.contestant.name}}
		<span class="score">{{matchesBetsService.contestantScore}} נקודות</span>
	</h2>
	<div class="cup-winner-bet-init">
		<app-cup-winner-bet></app-cup-winner-bet>
	</div>
	<app-tab-group>
		<app-tab label="בתים">
			<app-bets-form [stages]="[stageEnum.Groups]"></app-bets-form>
		</app-tab>
		<app-tab label="שמינית גמר">
			<app-bets-form [stages]="[stageEnum.RoundOf16]"></app-bets-form>
		</app-tab>
		<app-tab label="רבע גמר">
			<app-bets-form [stages]="[stageEnum.QuarterFinals]"></app-bets-form>
		</app-tab>
		<app-tab label="חצי גמר">
			<app-bets-form [stages]="[stageEnum.SemiFinals]"></app-bets-form>
		</app-tab>
		<app-tab label="גמר">
			<app-bets-form [stages]="[stageEnum.Final, stageEnum.ThirdPlace]"></app-bets-form>
		</app-tab>
	</app-tab-group>
</div>