<table class="matches-table">
	<tr>
		<th></th>
		<th>
			תאריך
		</th>
		<th></th>
		<th>
			קבוצות
		</th>
		<th></th>
		<th>
			ניחוש
		</th>
		<th>
			תוצאה
		</th>
	</tr>
	<tr *ngFor="let bet of matchesBetsService.groupStageBets; index as i">
		<td>
			{{i+1}}
		</td>
		<td>
			{{bet.match.datetime}}
		</td>
		<td>
			<img class="team-icon home-team-icon" [src]="'/assets/img/flags/'+match.home_team.code+'.png'">
		</td>
		<td>
			{{bet.match.home_team.hebrewName}} - {{bet.match.away_team.hebrewName}}
		</td>
		<td>
			<img class="team-icon away-team-icon" [src]="'/assets/img/flags/'+match.away_team.code+'.png'">
		</td>
		<td>
		</td>
		<td>
			{{bet.match.home_team.goals}} - {{bet.match.away_team.goals}}
		</td>
	</tr>
</table>