.contestants-table {
	box-shadow: 0px 0px 10px #999;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;

	th {
		background: linear-gradient(#777, #555) ;
		color: #fff;
	}

	td, th {
		padding: 10px 20px;
		vertical-align: middle;

		.cancel-add-btn {
			margin-right: 15px;
		}
	}

	td {
		border-top: 1px solid #aaa;
		background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(220, 220, 220, 0.5));
	}

	tr:first-child th:first-child {
		border-top-right-radius: 5px;
	}
	
	tr:first-child th:last-child {
		border-top-left-radius: 5px;
	}

	td:not(:last-child), th:not(:last-child) {
		border-left: 1px solid #ccc;
	}

	.add-contestant-row td {
		height: 26px;
	}

	.contestant-name {
		min-width: 150px;
	}

	.rank {
		text-align: center;
	}

	td.contestant-name {
		text-align: right;
	}

	.standings-diff {
		text-align: right;
		padding-right: 23px;
		direction: ltr;

		.arrow {
			display: none;
		}
	}

	.delete-contestant-btn {
		margin-right: 20px;
	}

	.standings-diff.positive-diff {
		color: green;
		.fa-long-arrow-up {
			display: inline;
		}
	}

	.standings-diff.negative-diff {
		color: red;
		.fa-long-arrow-down {
			display: inline;
		}
	}

	.name-field {
		width: 130px;
	}

	.missing-bets-icon {
		color: #4161BF;
	}
}

.error-message {
	text-align: center;
}