<app-loading *ngIf="loading" [error]="loadingError"></app-loading>
<div class="content" *ngIf="!loading">
	<table class="contestants-table">
		<tr>
			<th>
				דירוג
			</th>
			<th>
				שינוי
			</th>
			<th class="contestant-name">
				שם
			</th>
			<th>
				ניקוד
			</th>
			<th></th>
		</tr>
		<tr *ngFor="let contestant of contestantStandingsService.contestantsStandings; index as i">
			<td class="rank">
				<div *ngIf="i==0||contestantStandingsService.contestantsStandings[i-1].rank<contestant.rank">
					{{contestant.rank}}
				</div>
			</td>
			<td class="standings-diff" [ngClass]="{'positive-diff': getStandingsDiff(contestant)>0, 'negative-diff': getStandingsDiff(contestant)<0}">
				<div *ngIf="getStandingsDiff(contestant)!==0">
					{{getStandingsDiff(contestant)}}
					<i class="fa fa-long-arrow-up arrow"></i>
					<i class="fa fa-long-arrow-down arrow"></i>
				</div>
			</td>
			<td class="contestant-name">
				{{contestant.name}}
			</td>
			<td>
				{{contestant.score}}
				<i class="fa fa-exclamation-circle missing-bets-icon" title="חסרים ניחושים" *ngIf="!contestantStandingsService.hasAllBets(contestant)"></i>
			</td>
			<td>
				<div *ngIf="executingDeleteId!==contestant.id">
					<button class="btn edit-contestant-btn" (click)="editContestantOnClick(contestant)">
						<i class="fa fa-pencil-square-o"></i>
					</button>
					<button class="btn delete-contestant-btn" (click)="deleteContestantOnClick(contestant)">
						<i class="fa fa-trash-o"></i>
					</button>
				</div>
				<i *ngIf="executingDeleteId===contestant.id" class="fa fa-spinner fa-spin"></i>
			</td>
		</tr>
		<tr class="add-contestant-row">
			<td></td>
			<td></td>
			<td>
				<input type="text" class="name-field" *ngIf="addMode" [(ngModel)]="nameField" [disabled]="executingSave">
			</td>
			<td colspan="2">
				<button *ngIf="!addMode" class="btn add-contestant-btn" (click)="addContestantOnClick()">
					<i class="fa fa-plus"></i>
				</button>
				<button *ngIf="addMode&&!executingSave" class="btn save-contestant-btn" (click)="saveContestantOnClick()">
					<i class="fa fa-floppy-o"></i>
				</button>
				<button *ngIf="addMode&&!executingSave" class="btn cancel-add-btn" (click)="cancelAddOnClick()">
					<i class="fa fa-times"></i>
				</button>
				<i *ngIf="addMode&&executingSave" class="fa fa-spinner fa-spin"></i>
			</td>
		</tr>
	</table>
	<div class="error-message">
		{{errorMsg}}
	</div>
</div>