<table class="contestants-table">
	<tr>
		<th>
			דירוג
		</th>
		<th class="contestant-name">
			שם
		</th>
		<th>
			ניקוד
		</th>
		<th></th>
		<th></th>
	</tr>
	<tr *ngFor="let contestant of contestants; index as i">
		<td>
			{{i+1}}
		</td>
		<td class="contestant-name">
			<a [routerLink]="['/guesses', contestant.id]">{{contestant.name}}</a>
		</td>
		<td>
			{{contestant.score}}
		</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td>
			<input type="text" *ngIf="addMode" [(ngModel)]="nameField" [disabled]="executingSave">
		</td>
		<td></td>
		<td>
			<button *ngIf="!addMode" class="btn add-contestant-btn" (click)="addContestantOnClick()">
				<i class="fa fa-plus"></i>
			</button>
			<button *ngIf="addMode&&!executingSave" class="btn save-contestant-btn" (click)="saveContestantOnClick()">
				<i class="fa fa-floppy-o"></i>
			</button>
			<button *ngIf="addMode&&!executingSave" class="btn cancel-add-btn" (click)="cancelAddOnClick()">
				<i class="fa fa-times"></i>
			</button>
			<i *ngIf="addMode&&executingSave" class="fa fa-spinner fa-spin"></i>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="error-message">
			{{errorMsg}}
		</td>
	</tr>
</table>