.matches-table {
	width: 750px;

	td, th {
		padding: 10px;
		text-align: center;
		vertical-align: middle;
	}

	td {
		border-top: 1px solid #aaa;

		input[type=number].bet-field {
			width: 40px;
		}
	}

	.field-error {
		width: 100px;
		border-top: 0px;
	}

	.home-team-icon-init {
		padding-left: 0px;
	}

	.away-team-icon-init {
		padding-right: 0px;
	}

	.datetime {
		direction: ltr;
	}

	.team-icon {
		width: 25px;
		height: 25px;
		vertical-align: middle;
	}

	.bet-init {
		white-space: nowrap;

		.choose-bet-winner {
			display: inline-block;
			width: 20px;
			text-align: center;
		}
	}
}

.save-bets-btn-init {
	text-align: left;

	.btn {
		margin-left: 4px;
	}
}

.top-error-message {
	margin-bottom: 10px;
}