<form #betsForm="ngForm" (ngSubmit)="onSubmit(betsForm)" *ngIf="bets.length>0; else noMatchesMsg">
	<table class="matches-table">
		<tr>
			<th></th>
			<th>
				תאריך
			</th>
			<th></th>
			<th>
				קבוצת בית
			</th>
			<th>ניחוש</th>
			<th>
				קבוצת חוץ
			</th>
			<th></th>
			<th>
				תוצאה
			</th>
			<th></th>
		</tr>
		<tr *ngFor="let bet of bets; index as i">
			<td>
				{{i+1}}
			</td>
			<td class="datetime">
				{{bet.match.datetime | date:'dd/MM/yy HH:mm':'':'he'}}
			</td>
			<td class="home-team-icon-init">
				<img class="team-icon home-team-icon" [src]="'/assets/img/flags/'+bet.match.home_team.code+'.png'">
			</td>
			<td>
				{{bet.match.home_team.hebrewName}}
			</td>
			<td class="bet-init">
				<span class="choose-bet-winner" *ngIf="stages.indexOf(stageEnum.Groups)<0">
					<input type="radio" class="bet-field" *ngIf="showChooseBetWinner(bet)" [name]="'winner-code'+i" [value]="bet.match.home_team.code"
					 [(ngModel)]="bet.winner_country_code" required>
				</span>
				<input type="number" [name]="'home-team-bet'+i" class="bet-field home-team-bet" min="0" max="100" [(ngModel)]="bet.home_team_goals"
				 [disabled]="executingSave" required #homeTeamBet="ngModel"> -
				<input type="number" [name]="'away-team-bet'+i" class="bet-field away-team-bet" min="0" max="100" [(ngModel)]="bet.away_team_goals"
				 [disabled]="executingSave" required #awayTeamBet="ngModel">
				<span class="choose-bet-winner" *ngIf="stages.indexOf(stageEnum.Groups)<0">
					<input type="radio" class="bet-field" *ngIf="showChooseBetWinner(bet)" [name]="'winner-code'+i" [value]="bet.match.away_team.code"
					 [(ngModel)]="bet.winner_country_code" required>
				</span>
			</td>
			<td>
				{{bet.match.away_team.hebrewName}}
			</td>
			<td class="away-team-icon-init">
				<img class="team-icon away-team-icon" [src]="'/assets/img/flags/'+bet.match.away_team.code+'.png'">
			</td>
			<td>
				<span *ngIf="bet.match.status==='completed'">{{bet.match.home_team.goals}} - {{bet.match.away_team.goals}}</span>
			</td>
			<td class="field-error">
				<div *ngIf="(homeTeamBet.invalid||awayTeamBet.invalid)&&submittedBets" class="error-message">
					יש למלא שדות
				</div>
				<div *ngIf="!isChooseBetWinnerValid(bet)&&submittedBets" class="error-message">
					יש לבחור מנצח בפנדלים
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="8">
				<div class="error-message">{{errorMsg}}</div>
				<div class="save-bets-btn-init">
					<button type="submit" class="btn text-btn" [disabled]="executingSave">
						<i class="fa fa-floppy-o"></i>
						שמור
					</button>
					<i [style.visibility]="executingSave ? 'visible' : 'hidden'" class="fa fa-spinner fa-spin"></i>
				</div>
			</td>
		</tr>
	</table>
</form>
<ng-template #noMatchesMsg>
	טרם נקבעו הקבוצות
</ng-template>