.panel {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translate(0%, -50%);
	width: 900px;
	height: 80%;
	border-radius: 20px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.8);

	h1 {
		position: relative;
		font-size: 30px;
		vertical-align: middle;
		margin: 0px;
		margin-bottom: 10px;

		.controls {
			position: absolute;
			top: 0px;
			left: 0px;
			font-size: 15px;
			font-weight: normal;
		}
	}

	.content-container {
		overflow-y: auto;
		flex: 1;
	}
}