<form #cupWinnerBetForm="ngForm" (ngSubmit)="onSubmit(cupWinnerBetForm)">
	<i class="fa fa-trophy"></i>
	זוכה:
	<select name="country" [(ngModel)]="matchesBetsService.contestant.winner_bet_country_code" required>
		<option [value]="undefined" selected disabled>--בחר--</option>
		<option *ngFor="let country of matchesBetsService.countries" [value]="country.fifa_code">{{country.hebrew_name}}</option>
	</select>
	<span class="save-init">
		<button type="submit" *ngIf="!executingSave" class="btn save-btn">
			<i class="fa fa-floppy-o"></i>
		</button>
		<i *ngIf="executingSave" class="fa fa-spinner fa-spin"></i>
	</span>
	<span class="error-message">
		{{errorMsg}}
	</span>
</form>